body{
    font-family: arial;
}
h1,h2{
    color: blue;
}
ul li a{
    color: brown;
}
ol li a{
    color: blueviolet;
}
#p1{
    color: aliceblue;
}
.p2{
    color: azure;
}
.cetak{
    font-weight: bold;
}
p.cetak{
    font: 30px;
}